body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charts {
  align-self: stretch;
  margin-top: 50px;
}

.form-switch input {
  cursor: pointer;
}

input[type="number"] {
  width: 200px;
  height: 35px;
}

table {
  max-width: 1000px;
}

table td {
  min-width: 100px;
}

button {
  height: 35px;
}
